@import "tailwindcss";

@theme {
    --font-sans: "Roboto";
    --color-txt-first: #1f2937;
    --color-primary-300: #3b82f6;
    --color-txt-second: #4a5462;
}

body {
    color: var(--color-txt-first);
}
